.butts {
    width: 100px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
}
.room-container { 
    width: 600px; 
    margin: 0 auto;
 }

.room-container form{
    margin: 60px auto;
}

.cr-button-container {
    display: flex;
    justify-content: space-around;
}

.players-container {
    position: absolute;
}

.room-container h1 {
    font-size: 48px;
    margin-top:50px;
    text-align: center;
}

.room-container button {
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    margin: 50px 0 0 25px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    background-color: white;
    border-radius: 22px;
    width: 150px;
    float: right;
    border-style: none;
}

.room-container button:hover {
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    background-color: #00c8a6;
    border-color: #00c8a6;
}

.room-container button:focus {
    outline: none;
}

.room-container input {
    width: 100%;
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: rgb(6, 6, 6);
    border: none;
    border-bottom: white 2px solid;
    padding: 10px;
    text-align: center;
}

input::placeholder {
    color: #e3ab00;
    opacity: 1;
}


input:focus {
    outline: none;
}

.room-container {
    font-weight: bold;
}

.players-create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    width: 100%; 
    margin-top: 200px;
    text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-bottom: white 2px solid;
    -webkit-text-fill-color:white;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
}