@import-normalize;

body {
  color: white;
  background-color: rgb(6, 6, 6);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}


.logo {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 64px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 3px;
  z-index: -2;
  margin: 0;
}

.instruction-link {
  background: red;
  display: block;
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 1000px) {
  * {
    zoom: 0.96;
  }
}

@media screen and (max-width: 675px) {
  .top-container {
    width: 400px;
  }
}
