@import-normalize;

body {
    color: white; 
    background-color: rgb(6, 6, 6);
    font-family: 'Helvetica Neue', sans-serif;
}

.logo { 
    font-size: 64px;
    text-align: center; 
    width: auto;
    margin:  0 auto;
    padding-top: 30px;
}

.instruction-link {
    background: red;
    display: block;
    height: 100px; 
    width: 100px;
}


/* 
@media screen and (max-width: 1000px) {
    #root {
        background-color: lightblue; 
    }

    #root { 
        transform: scale(.9);
    }
} */