.top-container { 
    width: 60%;
    margin: 50px auto;
    text-align: center;
}

.bottom-container {
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    text-align: center;
} 

.color-black {
    border-color: white;
    color: white; 
}

.color-white {
        border-color: black;
        color: black;
        background-color:white;
}

.tile { 
        width: 120px;
        border: 2px solid; 
        padding: 10px; 
        margin: 6px;
        font-size: 18px;
        border-radius: 12px;
        display: inline-block;
        font-weight: bold;
        box-sizing: border-box;
}

.emptyTileSpace {
    width: 120px;
    padding: 9px;
    border: 2px solid;
    border-color: rgb(6, 6, 6);
    border-radius: 12px;
    display: inline-block;
    margin: 6px;
    font-weight: bold;
    box-sizing: border-box;
}

.tile:hover {
    border-color: red;
    cursor: pointer;
}

.tile::selection {
    color: none;
    background: none;
}
