.top-container { 
    width: 60%;
    margin: 50px auto;
    text-align: center;
}

.bottom-container {
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    text-align: center;
} 

.color-black {
    transform: rotateX(0);
    border-color: white;
    color: white; 
    background-color: rgb(6, 6, 6);
    -webkit-animation: flip 1s;
    animation: flip 1s;
    perspective: 1000px;
    transform-style: preserve-3d;

}

.color-white {
        transform: rotateX(0);
        color: black;
        background-color:white;
        -webkit-animation: flip 1s;
        animation: flip 1s;
        perspective: 1000px;
        transform-style: preserve-3d;
}

@-webkit-keyframes flip {
    from {
        transform: rotateX(90deg)
    }

    to {
        transform: rotateX(0deg)
    }
}

@keyframes flip {
    from {
        transform: rotateX(90deg)
    }

    to {
        transform: rotateX(0deg)
    }
}

.tile { 
        width: 120px;
        border: 2px solid; 
        padding: 10px; 
        margin: 6px;
        font-size: 18px;
        border-radius: 10px;
        display: inline-block;
        font-weight: bold;
        box-sizing: border-box;
        /* box-shadow: 10px 10px 8px 10px black; */
    
}

.emptyTileSpace {
    width: 120px;
    padding: 9px;
    border: 2px solid;
    border-color: rgb(6, 6, 6);
    border-radius: 12px;
    display: inline-block;
    margin: 6px;
    font-weight: bold;
    box-sizing: border-box;
}

.tile.hoverable:hover {
    background-color:#007cc2;
    cursor: pointer;
}

.tile::selection {
    color: none;
    background: none;
}
