.my-target-word-container {
  width: 200px;
  height: 150px;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.my-target-word-img {
  margin-left: 40px;
  width: 100px;
  float: left;
}

.my-target-word {
  float: left;
  margin-left: 10px;
  font-weight: bold;
  height: fit-content;
}
