.revealed-clue-img {
    width: 150px; 
    height: auto;
    padding: 25px;
}

.revealed-clue-text {
    color: #e3ab00;
}

.player-guesses {
    list-style: none;
    padding: 0;
    font-size: 32px;
}