.splash-container {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    height: auto;
}

.splash-container-2 {
    width: 2000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    height: auto;
}

#join-a-game {
    margin-top: 150px;
}

.splash-container h1 {
    font-size: 40px;
    padding-left: 35%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.session-form {
    width: 30%;
    margin-bottom: 150px;
}

.session-form input {
    width: 100%;
    margin: 10px 0 10px 0 ;
    font-weight: bold;
    font-size: 18px;
    color: white; 
    background-color: rgb(6, 6, 6);
    border: none;
    border-bottom: white 2px solid;
    padding:10px;
}

.splash-label {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

input::placeholder {
    color: #e3ab00;
    opacity: 1;
}


input:focus {
    outline: none;
}

.session-form button {
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    margin-top: 50px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    background-color: white;
    border-radius: 22px;
    width: 150px;
    cursor: pointer;
    float: right;
    border-style: none;
}

.session-form button:hover {   
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    background-color: #00c8a6;
    border-color: #00c8a6;
}

.instruction-hover {
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    font-weight: bold;
    font-size: 22px;
    color: black;
    background-color: white;
    border-radius: 22px;
    width: 45px;
    height: 45px;
    float: right;
    cursor: pointer;
    border-style: none;
}

.instruction-hover:hover {
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease;  
    background-color: #00c8a6;
    border-color: #00c8a6;
}

.instruction-hover:focus{
    outline: none;
}


.session-form button:focus{
    outline: none;
}

.instructions-container video:focus {
    outline: none;
   
}

.instructions-container video:hover {
    cursor: pointer;
}

.splash-cards {
    display: block;
    margin: 0 auto;
    width: 20%;
}
.splash-cards img {
    padding: 2%;
    width: 50%;
    box-sizing: border-box;
}

.tbg-link {
    bottom: 10px;
    left: 0;
    width: 180px;
    height: 98px;
    margin-left: 20px;
    position: fixed;
}

.hamburgers {
    padding: 10px 0px 0px 15px;
    background-color: transparent;
    outline: none;
    border: none;
    position: fixed;
    z-index: 4;

}

.hamburgers:hover {
    cursor: pointer;
}



.hamburgers div {
    transition-property: background-color;
    transition-duration: .3s;
    background-color: white;
    width: 30px;
    height: 5px;
    margin-top: 4px;
    border-radius: 3px;
    /* border: solid 1px white ; */
}

.hamburgers:hover div{
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    background-color: #00c8a6;
}

.hamburger-menu {
    position: fixed;
    width: 180px;
    height: 300px;
    border: solid 3px white;
    z-index: 3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.hamburger-menu a {
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
    position: relative;
    top: 40px;
    left: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 5px, 0, 5px, 10px;
    width: fit-content;
}

.hamburger-menu a:hover {
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
    color: #00c8a6;
}



.menu-enter {
    opacity: 0;
    transform: translateX(-100%);

}

.menu-enter.menu-enter-active {
    opacity: 1; 
    transition: opacity 800ms, transform 800ms;
    transform: translateX(0);
    left: 30px;
}

.menu-leave {
    opacity: 1;

}

.menu-leave.menu-leave-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 800ms, transform 800ms;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 150px 0 0 0;
}