.splashContainer {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.splashContainer h1 {
    font-size: 40px;
    padding-left: 35%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    /* margin-bottom: 100px; */
}
.sessionForm {
    width: 30%;
    margin-bottom: 150px;
}

.sessionForm input {
    width: 100%;
    margin: 10px 0 10px 0 ;
    font-weight: bold;
    font-size: 18px;
    color: white; 
    background-color: rgb(6, 6, 6);
    border: none;
    border-bottom: white 2px solid;
    padding:10px;
}

.splashLabel {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

input::placeholder {
    color: #e3ab00;
    opacity: 1;
}


input:focus {
    outline: none;
}

.sessionForm button {
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    margin-top: 50px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    background-color: white;
    border-radius: 22px;
    width: 150px;
    cursor: pointer;
    float: right;
}

.sessionForm button:hover {   
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    background-color: #00c8a6;
    border-color: #00c8a6;
}

.instruction-hover {
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    font-weight: bold;
    font-size: 22px;
    color: black;
    background-color: white;
    border-radius: 22px;
    width: 50px;
    float: right;
    cursor: pointer;
}

.instruction-hover:hover {
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease;  
    background-color: #00c8a6;
    border-color: #00c8a6;
}

.instruction-hover:focus{
    outline: none;
}


.sessionForm button:focus{
    outline: none;
}

.instructionsContainer video:focus {
    outline: none;
   
}

.instructionsContainer video:hover {
    cursor: pointer;
}

.splashCards {
    display: block;
    margin: 0 auto;
    width: 20%;
    margin-bottom: 150px;
}
.splashCards img {
    padding: 2%;
    width: 50%;
    box-sizing: border-box;
}

.tbg-link {
    width: 180px;
    height: 98px;
    margin-left: 20px;
}

.hamburgers {
    padding: 10px 0px 0px 10px;
    background-color: rgb(6, 6, 6);
    outline: none;
    border: none;
}

.hamburgers:hover {
    cursor: pointer;
}



.hamburgers div {
    transition-property: background-color;
    transition-duration: .3s;
    background-color: white;
    width: 30px;
    height: 5px;
    margin-top: 4px;
    border-radius: 3px;
    /* border: solid 1px white ; */
}

.hamburgers:hover div{
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    background-color: #00c8a6;
    /* i cant figure out why the color looks so dark */
}