.target-words-container {
    width: 130px;
    padding: 5px;
    display: inline-block;
}

.target-img {
    width: 100%;
    padding-bottom: 5px;
}

.target-img:hover + .tile.color-white.hoverable {
        background-color: #00c8a6;
        border-color: #059c83;
}

.target-img.hoverable:hover {
        cursor: pointer;
}

.target-img:hover + .tile.color-black.hoverable {
    background-color: rgba(7, 192, 161, 0.287);
    border-color: rgb(7, 192, 161);
}

.target-img::selection {
    color: none;
    background: none;
}
